*.ignore

*.cmake

*.bin

BUILD/CMakeCache.txt

BUILD/CMakeFiles/3.3.0/CompilerIdC/CMakeCCompilerId.c

BUILD/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC

*.xcscheme

*.plist

*.xcsettings

*.pbxproj

*.d

*.a

*.cxx

BUILD/CMakeFiles/feature_tests.c

*.hmap

*.dat

BUILD/CMakeFiles/CMakeOutput.log

BUILD/CMakeFiles/TargetDirectories.txt

*.check_cache

BUILD/VirtuosoConsole.build/Debug/ZERO_CHECK.build/Script-6964BD2E12CD44A5AFC446E9.sh

*.xcworkspacedata

*.xcuserstate

*.o

BUILD/test/Debug/TestCommands.txt

BUILD/test/Debug/ConsoleTest

BUILD/test/Debug/file2.txt

BUILD/test/Debug/COMMAND_HISTORY.txt

BUILD/CMakeScripts/ReRunCMake.make

BUILD/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph

BUILD/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/dgph~

*.dia

*.LinkFileList

BUILD/CMakeFiles/3.3.0/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh

BUILD/CMakeFiles/3.3.0/CompilerIdCXX/CMakeCXXCompilerId.cpp

BUILD/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX

BUILD/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/dgph

BUILD/VirtuosoConsole.build/Debug/ZERO_CHECK.build/dgph~

BUILD/VirtuosoConsole.build/Debug/ZERO_CHECK.build/dgph

BUILD/VirtuosoConsole.build/Debug/VirtuosoConsole.build/dgph~

BUILD/VirtuosoConsole.build/Debug/VirtuosoConsole.build/dgph

BUILD/VirtuosoConsole.build/Debug/ALL_BUILD.build/Script-90818435AD0D4F9CBD2A5204.sh

BUILD/VirtuosoConsole.build/Debug/ALL_BUILD.build/dgph~

BUILD/VirtuosoConsole.build/Debug/ALL_BUILD.build/dgph

BUILD/test/VirtuosoConsole.build/Debug/ConsoleTest.build/dgph~

BUILD/test/VirtuosoConsole.build/Debug/ConsoleTest.build/dgph

*.makeRelWithDebInfo

*.makeRelease

*.makeMinSizeRel

*.makeDebug

BUILD/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh

BUILD/CMakeFiles/3.3.0/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/dgph~
